<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Recursion Visualizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto:300,400,500|Work+Sans:400,700">
    <style>
    .node, .edge, .node text {
      visibility: hidden;
    }
    .node.activated text:first-of-type {
      visibility: visible;
    }
    .node.activated path {
      visibility: visible;
    }
    .node text.activated {
      visibility: visible;
    }
    .edge.activated {
      visibility: visible;
    }
    .svg-controls {
      width: 600px;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 100px 1fr 100px;
      grid-gap: 8px;
      position: fixed;
      right: 0;
      top: 0;
      background: #80808070;
    }
    .svg-controls button:first-of-type {
      grid-row: 1;
      grid-column: 1;
    }
    .svg-controls input {
      grid-row: 1;
      grid-column: 2;
    }
    .svg-controls button:last-of-type {
      grid-row: 1;
      grid-column: 3;
    }
    </style>
  </head>
  <body>
   {{ svg|safe }}


    <script>
    
        class RecursiveTreeViz {
          
          constructor(svg, options) {
            this.svg = svg;
            options = options || {};
            this.startStep = options.startStep;
            this.steps = [];
            this.frames = {};
          }
          
          draw() {
            // Store all the frames
            const frames = this.svg.querySelectorAll(".node");
            for (var i = 0; i < frames.length; i++) {
              const frame = frames[i];
              const frameId = frame.getElementsByTagName("title")[0].textContent;
              this.frames[frameId] = frame;
            }
        
            // Determine number of steps
            const edges = this.svg.querySelectorAll(".edge");
            for (let i = 0; i < edges.length; i++) {
              const edge = edges[i];
              const edgeTitle = edge.getElementsByTagName("title")[0].textContent;
              const edgeText = edge.getElementsByTagName("text")[0].textContent;

              let stepNum, isReturn;
              stepNum = parseInt(edgeText.split("(#")[1], 10); 
              if (edgeTitle.endsWith(":c")) {
                isReturn = true;
                edge.getElementsByTagName("text")[0].textContent = edgeText.split("(#")[0];
              } else {
                edge.getElementsByTagName("text")[0].textContent = "";
                isReturn = false;
              }
              const edgeFrames = edgeTitle.split(":c")[0];
              const parentFrameId = edgeFrames.split("->")[0];
              const childFrameId = edgeFrames.split("->")[1];
              this.steps[stepNum] = {
                parentFrame: this.frames[parentFrameId],
                childFrame: this.frames[childFrameId],
                edge: edge,
                isReturn: isReturn
              };
            }
              
            if (this.startStep == null || isNaN(this.startStep)) {
              this.currentStep = this.steps.length - 1;
            } else {
              this.currentStep = this.startStep;
            }
            this.drawControls();
            this.toggleSteps();
          }
          
          
          drawControls() {
            var controlsDiv = document.createElement("div");
            controlsDiv.classList.add("svg-controls");
            
            this.prevButton = document.createElement("button");
            this.prevButton.innerText = "< Prev";
            if (this.currentStep <= 0) {
              this.prevButton.setAttribute("disabled", "disabled");
            }
            this.prevButton.addEventListener("click", this.onPrevClick.bind(this));
            
            this.nextButton = document.createElement("button");
            this.nextButton.innerText = "> Next";
            if (this.currentStep >= this.steps.length - 1) {
              this.nextButton.setAttribute("disabled", "disabled");
            }
            this.nextButton.addEventListener("click", this.onNextClick.bind(this));
        
            this.slider = document.createElement("input");
            this.slider.setAttribute("type", "range");
            this.slider.setAttribute("min", 0);
            this.slider.setAttribute("max", this.steps.length - 1);
            this.slider.setAttribute("value", this.currentStep);
            this.slider.addEventListener("change", this.onSliderChange.bind(this));
        
            controlsDiv.appendChild(this.prevButton);
            controlsDiv.appendChild(this.slider);
            controlsDiv.appendChild(this.nextButton);
        
            this.svg.after(controlsDiv);
          }
        
          toggleSteps() {
            console.log(this.steps);
            this.steps.forEach((step, stepI) => {
              if (stepI == 1) {
                 step.parentFrame && step.parentFrame.classList.add("activated");
              }
              if (stepI <= this.currentStep) {
                 step.edge.classList.add("activated");
                 step.childFrame.classList.add("activated");
              } else {
                 step.edge.classList.remove("activated");
                 !step.isReturn && step.childFrame.classList.remove("activated");
              }
            })
          }
          
          onSliderChange(event) {
            this.currentStep = parseInt(event.target.value, 10);
            this.fixButtons();
            this.toggleSteps();
          }
        
          onPrevClick(event) {
            this.currentStep--;
            this.fixButtons();
            this.slider.value = this.currentStep;
            this.toggleSteps();
          }

          onNextClick(event) {
            this.currentStep++;
            this.fixButtons();
            this.slider.value = this.currentStep;
            this.toggleSteps();
          }
          
          fixButtons() {
            if (this.currentStep === 0) {
              this.prevButton.setAttribute("disabled", "disabled");
            }
            if (this.currentStep < this.steps.length - 1) {
              this.nextButton.removeAttribute("disabled");
            }
            if (this.currentStep > 0) {
              this.prevButton.removeAttribute("disabled");
            }
            if (this.currentStep === this.steps.length - 1) {
              this.nextButton.setAttribute("disabled", "disabled");
            }
          }
        }
        
        new RecursiveTreeViz(document.getElementsByTagName("svg")[0]).draw()

        </script>
  </body>
</html>
