<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Recursion Visualizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto:300,400,500|Work+Sans:400,700">
    <style>
textarea,input[type=text] {
  font-family: monospace;
  font-weight: normal;
}
    </style>
  </head>
  <body>
    <div class="container">

    <h1>Visualize a recursive function</h1>
    <form method="get" action="/visualize">
    <label>Try one of these functions: 
      <select id="function-select">
        <option value="none">Choose one...</option>
        <option value="virfib">virfib</option>
        <option value="count_partitions">count_partitions</option>
      </select>
     </label>
    <label>Or paste the function definition here (starting with <code>def</code>):
    <br>
    <textarea id="function-definition-textarea" rows="10" cols="120" name="function_definition"></textarea>
    </label>
    <br>
    <label>Type your function call here:
    <br>
    <input id="function-call-input" type="text" placeholder="func(1, 2)" name="function_call" size="120"/>
    </label>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Visualize!</button>
    </form>
    <pre style="display:none" id="virfib-definition">
def virfib(n):
  if n == 0:
    return 0
  if n == 1:
    return 1
  else:
    return virfib(n - 1) + virfib(n - 2)
    </pre>
    <code style="display:none" id="virfib-call">virfib(3)</code>
    <pre style="display:none" id="count_partitions-definition">
def count_partitions(n, m):
    if n == 0:
        return 1
    elif n < 0:
        return 0
    elif m == 0:
        return 0
    else:
        with_m = count_partitions(n-m, m)
        without_m = count_partitions(n, m-1)
        return with_m + without_m
</pre>
    <code style="display:none" id="count_partitions-call">count_partitions(4, 2)</code>
    <br>
    <p>Credit: <a href="https://github.com/carlsborg">@carlsborg</a> for the <a href="https://github.com/carlsborg/rcviz">rcviz</a> library.</p>

    </div>

  <script>
function prefillFunction(event) {
  const functionName = event.target.value;
  const functionPre = document.getElementById(functionName + "-definition");
  if (!functionPre) return;
  document.getElementById('function-definition-textarea').value = functionPre.textContent;
  const functionCall = document.getElementById(functionName + "-call");
  if (!functionCall) return;
  document.getElementById('function-call-input').value = functionCall.textContent;
}

document.getElementById("function-select").addEventListener("change", prefillFunction);
  </script>

  </body>
</html>

